{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-4">
    <div id="dataset-list" class="list-group">
      <a class="list-group-item list-group-item-action" href="#count-history">Count History</a>
      <a class="list-group-item list-group-item-action" href="#notable-humans">Notable Humans</a>
      <a class="list-group-item list-group-item-action" href="#whats-next">What's next?</a>
    </div>
  </div>
  <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#dataset-list" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="count-history">Count History</h4>
      <p>image representing mass exodus of humans crossing a chasm between data and understanding. with a small group of wealthy people already on the understanding side</p>
      <p>Count History is all about <em>analyzing data together</em>. The world needs more data analysis. People need to understand what the data of the world is saying.
        However, we cannot rely on talking heads on our favorite media outlets to tell us some oversimplified and often misguided result of a team of PhD experts' data analysis.
        Instead, we need to rely on ourselves to analyze the data. With Count History, everyone can easily analyze data and come to their own conclusions. No media outlets or PhDs required!
      </p>
      <p>
        Let's look at an example to illustrate the power of Count History. It is one thing to know that something happened on a certain day a while ago. But do you know what the trend is?
        Are you brainstorming with other curious and interested people as to what could be causing this trend? If the trend is heading in a good direction and is important to you, are you doing anything/empowered to support the trend?
        If the trend is heading in a bad direction and is important to you, are you doing anything/empowered to reverse the trend?
      </p>
      <p>

      </p>
      <h4 id="notable-humans">Notable Humans</h4>
      <p>...</p>
      <h4 id="whats-next">What's Next?</h4>
      <p>...</p>
    </div>
  </div>
</div>

{% endblock %}
